<a href="https://colab.research.google.com/github/pradeepV2/API-/blob/master/RNN_LSTM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from keras.preprocessing import sequence
from keras.models import Sequential
from keras.layers import Dense, Dropout, Embedding, LSTM, Bidirectional

In [19]:
df = pd.read_excel("tide_file.xlsx")
df

       receipt_id  company_id  ...  PredictedAmountMatch  PredictedTimeCloseMatch
0           10000       10000  ...                   0.0                        0
1           10000       10000  ...                   0.0                        0
2           10000       10000  ...                   0.0                        0
3           10000       10000  ...                   0.0                        0
4           10000       10000  ...                   0.0                        0
...           ...         ...  ...                   ...                      ...
12029       50226       50000  ...                   0.0                        0
12030       50226       50000  ...                   0.0                        0
12031       50226       50000  ...                   0.0                        1
12032       50226       50000  ...                   0.0                        0
12033       50226       50000  ...                   0.0                        1

[12034 rows x 14 columns]

In [21]:
X = df.iloc[:,0:14]
X

       receipt_id  company_id  ...  PredictedAmountMatch  PredictedTimeCloseMatch
0           10000       10000  ...                   0.0                        0
1           10000       10000  ...                   0.0                        0
2           10000       10000  ...                   0.0                        0
3           10000       10000  ...                   0.0                        0
4           10000       10000  ...                   0.0                        0
...           ...         ...  ...                   ...                      ...
12029       50226       50000  ...                   0.0                        0
12030       50226       50000  ...                   0.0                        0
12031       50226       50000  ...                   0.0                        1
12032       50226       50000  ...                   0.0                        0
12033       50226       50000  ...                   0.0                        1

[12034 rows x 14 columns]

In [22]:

Y = df.iloc[:,-1]
Y

0        0
1        0
2        0
3        0
4        0
        ..
12029    0
12030    0
12031    1
12032    0
12033    1
Name: PredictedTimeCloseMatch, Length: 12034, dtype: int64

In [0]:
# Split dataset into training set and test set
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.3) # 70% training

In [0]:
x_train = np.array(x_train)
x_test = np.array(x_test)

In [25]:
x_train

array([[3.0054e+04, 3.0000e+04, 3.0678e+04, ..., 0.0000e+00, 0.0000e+00,
        0.0000e+00],
       [3.0234e+04, 3.0000e+04, 3.0267e+04, ..., 1.0000e+00, 0.0000e+00,
        0.0000e+00],
       [2.0213e+04, 2.0000e+04, 2.0490e+04, ..., 1.0000e+00, 0.0000e+00,
        1.0000e+00],
       ...,
       [3.0127e+04, 3.0000e+04, 3.1293e+04, ..., 1.0000e+00, 0.0000e+00,
        0.0000e+00],
       [1.0057e+04, 1.0000e+04, 1.0350e+04, ..., 1.0000e+00, 0.0000e+00,
        0.0000e+00],
       [2.0086e+04, 2.0000e+04, 2.0216e+04, ..., 0.0000e+00, 0.0000e+00,
        0.0000e+00]])

In [0]:
y_train = np.array(y_train)
y_test = np.array(y_test)

In [27]:
y_train

array([0, 0, 1, ..., 0, 0, 0])

In [0]:
model = Sequential()
model.add(Embedding(80000, 128, input_length=14))
model.add(Bidirectional(LSTM(64)))
model.add(Dropout(0.5))
model.add(Dense(1, activation='sigmoid'))

In [0]:
model.compile('adam', 'binary_crossentropy', metrics=['accuracy'])

In [34]:
model.summary()

Model: "sequential_3"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding_3 (Embedding)      (None, 14, 128)           10240000
_________________________________________________________________
bidirectional_3 (Bidirection (None, 128)               98816
_________________________________________________________________
dropout_3 (Dropout)          (None, 128)               0
_________________________________________________________________
dense_3 (Dense)              (None, 1)                 129
=================================================================
Total params: 10,338,945
Trainable params: 10,338,945
Non-trainable params: 0
_________________________________________________________________

In [35]:
print('Train...')
model.fit(x_train, y_train,
          batch_size=1,
          epochs=1,
          validation_data=[x_test, y_test])

Train...
Train on 8423 samples, validate on 3611 samples
Epoch 1/1
8423/8423 [==============================] - 1224s 145ms/step - loss: 0.0146 - acc: 0.9957 - val_loss: 9.0263e-07 - val_acc: 1.0000